<section class="adventures">
  <div class="container">
    <h2 class="heading heading--centered">
      <span class="heading__pre-text">Gear up for</span> your next Adventure
    </h2>
    <div class="adventures__card-container">
      <div class="card">
        <img
          src="/images/adventures/pexels-alexandr-podvalny-1007657.jpg"
          alt="Ship on the beach in thailand"
          class="card__image"
        />
        <div class="card__content">
          <h3 class="card__title">Thailand</h3>
          <p class="card__description">
            FEb 22 | <span class="text-primary">11 Nights</span>
          </p>
          <a href="#" class="button">Book</a>
        </div>
      </div>
      <div class="card">
        <img
          src="/images/adventures/pexels-gantas-vaiciulenas-4300115.jpg"
          alt="Women on a big swing on a tree"
          class="card__image"
        />
        <div class="card__content">
          <h3 class="card__title">Mexico</h3>
          <p class="card__description">
            FEb 22 | <span class="text-primary">11 Nights</span>
          </p>
          <a href="#" class="button">Book</a>
        </div>
      </div>
      <div class="card">
        <img
          src="/images/adventures/pexels-ivica-dzambo-3538245-2.jpg"
          alt="Four boats in a shallow lagoon in Vietnam"
          class="card__image"
        />
        <div class="card__content">
          <h3 class="card__title">Vietnam</h3>
          <p class="card__description">
            FEb 22 | <span class="text-primary">11 Nights</span>
          </p>
          <a href="#" class="button">Book</a>
        </div>
      </div>
    </div>
  </div>
</section>
