/** Breakpoint: 576px+ */
@media (min-width: 36em) {
}

/** Breakpoint: 768px+ */
@media (min-width: 48em) {
}

/** Breakpoint: 992px+ */
@media (min-width: 62em) {
}

/** Breakpoint: 1200px+ */
@media (min-width: 75em) {
}

/** Breakpoint: 1400px+ */
@media (min-width: 87.5em) {
}

.adventures {
  padding-bottom: 4rem;
  background-color: rgb(225, 220, 206);
  background-image: url("/images/adventures/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.adventures__card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: -1rem;
}

.card {
  margin: 1rem;
  flex: 0 0 23.66666rem;
  border-radius: 1rem;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25);
  transform: scale(1);
  transition: transform 0.125s ease-in-out;
}
.card:hover {
  transform: scale(1.05);
}

.card__image {
  display: block;
  width: 100%;
  object-fit: cover;
}

.card__content {
  padding: 1.25rem;
  text-align: center;
}

.card__title {
  margin: 0;
  font-size: 1.25rem;
  color: #014153;
  text-transform: uppercase;
}

.card__description {
  padding: 1rem 0;
  margin: 0;
  color: #014153;
  text-transform: uppercase;
}
