<section class="adventures">
  <div class="container">
    <h2 class="heading heading--centered">
      <span class="heading__pre-text">Gear up for</span> your next Adventure
    </h2>
    <div class="adventures__cards">
      <div class="card">
        <img
          src="/images/adventures/pexels-alexandr-podvalny-1007657.jpg"
          alt="Adventure 1"
          class="card__image"
        />
        <div class="card__content">
          <h3 class="card__title">Thailand</h3>
          <p class="card__description">
            FEb 22 | <span class="card__description-span">11 Nights</span>
          </p>
          <a href="#" class="button button--card">Book</a>
        </div>
      </div>
      <div class="card">
        <img
          src="/images/adventures/pexels-alexandr-podvalny-1007657.jpg"
          alt="Adventure 1"
          class="card__image"
        />
        <div class="card__content">
          <h3 class="card__title">Mexico</h3>
          <p class="card__description">
            FEb 22 | <span class="card__description-span">11 Nights</span>
          </p>
          <a href="#" class="button button--card">Book</a>
        </div>
      </div>
      <div class="card">
        <img
          src="/images/adventures/pexels-alexandr-podvalny-1007657.jpg"
          alt="Adventure 1"
          class="card__image"
        />
        <div class="card__content">
          <h3 class="card__title">Vietnam</h3>
          <p class="card__description">
            FEb 22 | <span class="card__description-span">11 Nights</span>
          </p>
          <a href="#" class="button button--card">Book</a>
        </div>
      </div>
    </div>
  </div>
</section>
