<section class="story">
  <div class="container">
    <div class="story__inner">
      <h2 class="heading heading--white header--top-box">
        <span class="heading__pre-text">Get ready for </span>a great adventure
      </h2>
      <p class="story__text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero
        reiciendis dignissimos a! Itaque voluptatum beatae neque sapiente
        voluptas ipsum animi nihil cumque obcaecati, omnis iusto. Corporis,
        quisquam. Omnis, laboriosam autem.
      </p>
      <p class="story__text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos ipsum
        harum unde sunt voluptatibus commodi
      </p>
      <a href="#" class="button">Book your adventure</a>
    </div>
  </div>
</section>
