/** Breakpoint: 576px+ */
@media (min-width: 36em) {
}

/** Breakpoint: 768px+ */
@media (min-width: 48em) {
}

/** Breakpoint: 992px+ */
@media (min-width: 62em) {
}

/** Breakpoint: 1200px+ */
@media (min-width: 75em) {
}

/** Breakpoint: 1400px+ */
@media (min-width: 87.5em) {
}

html {
  font-size: 1em;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 75rem;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}
@media (min-width: 62em) {
  .container {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

.button {
  display: inline-block;
  color: white;
  padding: 0.75rem 2rem;
  border-radius: 999999px;
  background-color: #ed6a4e;
  font-weight: bold;
  text-decoration: none;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
}
.button:hover {
  text-decoration: underline;
  background-color: #c95f47;
}

.button--transparent {
  -webkit-background-color: transparent;
  background-color: transparent;
  border: 0.125rem solid white;
  backdrop-filter: blur(0.5rem);
}
.button--transparent:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

.heading {
  color: #014153;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  padding: 2rem 0;
}

.heading--centered {
  text-align: center;
}

.heading__pre-text {
  display: block;
  font-size: 1.5rem;
}
